<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css}" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Đăng nhập</title>
</head>
<body>
    <section class="vh-100">
        <div class="container-fuild h-100" style="background-color: #EEEEEE;">
            <div class="row mx-auto my-auto h-100">
                <div class="col-5 mx-auto my-auto">
                    <!-- Form đăng nhập -->
                    <div class="card" style="background-color: #888DF2;">
                        <h2 class="card-title text-center mt-3">Đăng nhập</h2>

                        <form th:action="@{/login}" method="post" class="h-100">
                            <div class="mb-3 mx-3">
                                <label for="usernameId" class="form-label">Tên đăng nhập</label>
                                <input type="text" class="form-control" th:name="username" id="usernameID" placeholder="Tên đăng nhập">
                            </div>

                            <div class="mb-3 mx-3">
                                <label for="passwordId" class="form-label">Mật khẩu</label>
                                <input type="password" class="form-control" th:name="password" id="passwordID" placeholder="Mật khẩu">
                            </div>

                            <div class="mb-3 d-flex align-item-center justify-content-center">
                                <button type="submit" class="btn btn-primary">Đăng nhập</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js}" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
</body>
</html>
